extends ./_partial/layout.pug
block extra-head
  case theme.comments.provider
    when "valine"
      script(src="//cdn1.lncld.net/static/js/3.0.4/av-min.js")
      script(src="//unpkg.com/valine/dist/Valine.min.js")
    when "laibili"
      script(src="https://cdn-city.livere.com/js/embed.dist.js", async)
    default
      - break
block content
  include ./_partial/post_header.pug
  .article-content(style='max-width:'+ theme.content_width +'px')
    if page.photos && page.photos.length
      div
        each photo in page.photos
          a.article-gallery-img.fancybox(href=photo)
            img(src=photo)
    | !{page.content}
  .article-meta(style='max-width:'+ theme.content_width +'px')
    if page.tags && page.tags.length
      .tags
        i.icon.icon-tag
        | !{list_tags(page.tags)}
    if page.tags && page.categories.length
      .categories
        i.icon.icon-category
        | !{list_categories(page.categories)}
  //- Comments
  case theme.comments.provider
    when "valine"
      #vcomments(style='max-width:'+ theme.content_width +'px', class="article-comment")
    when "laibili"
      #lv-container(data-id="city", data-uid=theme.comments.uid, class="article-comment"
      style='max-width:'+ theme.content_width +'px')
    default
      - break
  ul.navication
    li.home
      a(href="/")
        i.icon.icon-home
    if page.prev && page.prev.path
      li
        a(href=url_for(page.prev.path))
          i.icon.icon-arror-left
    if page.next && page.next.path
      li
        a(href=url_for(page.next.path))
          i.icon.icon-arror-right
block script
  case theme.comments.provider
    when "valine"
      script.
        new Valine({
                el: '#vcomments',
                appId: '#{theme.valine.apiId}',
                appKey: '#{theme.valine.appKey}'
            });
    default
      - break